<ul class="menu">
    <li><a ng-click="logout()" href="#">Logout</a></li>
</ul>
<div class="container-fluid">
    <div class="row">
        
            <div class="col-xs-12 col-md-8">
                <div class=" panel panel-primary">
                    <div class="panel-heading">Virtual Machines</div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="n in vms">
                                {{n.propSet[0].val}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class=" panel panel-primary">
                    <div class="panel-heading">Datastores</div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="n in ds">
                                {{n.propSet[0].val}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>SSH</h4>
                <button type="button" ng-click="toggle()" ng-hide="!sshReady" class="btn btn-primary btn">{{btnLabel}}</button>
            </div>
        
    </div>
</div>
